li {
    list-style-type: none;
}

.gridHeroes {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 5% 0;
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 6fr 6fr 6fr;
}

.heroes-container {
    background-color: white;
    width: 100%;
}

.heroes-container h2 {
    font-size: 28px;
    text-align: left;
    padding: 10% 0 2% 11%;
    color: var(--text-black);
}

.heroItem {
    margin: 2%;
}

.heroItem img {
    width: 90%;
}

.heroItem p{
    background-color: black;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    color: var(--white);
    border-top: 2px solid var(--red);
}

/* Smartphones */
@import url('./styles/heroeslist-sm.css') (max-width: 600px)