.navbar-default {
    background-color: var(--dark);
    border-color: var(--dark);
    position: relative;
}

.navbar-default ul {
    position: relative;
}

.nav-item {
    color: var(--light);
}

.navbar-default img{
    width: 50%;
    float: left;
}