.card-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 10%;
  }
  
  .card-div h2 {
    font-size: 62px;
    font-weight: bold;
  }
  
  .card-div h5 {
    color: var(--text-grey);
  }
  
  .card-div img {
    margin: 0 auto;
    width: 72%;
  }
  
  .card-div button {
    width: 324px;
    height: 61px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    text-align: center;
    background-color: var(--red);
    color: var(--white);
    border: none;
    outline: none;
  }
  
  .card-div button:nth-last-child(1) {
    background-color: var(--white);
    color: var(--red);
  }

@media (max-width: 600px) {
  .card-div button {
    width: 60%;
    height: 40px;
    font-size: 12px;
  }

  .card-div img {
    margin: 0 auto;
    width: 100%;
  }

  .card-div h2 {
    font-size: 32px;
    font-weight: bold;
  }

  .card-div h5 {
    font-size: 14px;
    font-weight: bold;
  }
}