:root {
    --dark: #000;
    --light: #fff;
}

.navbar-default ul {
    position: absolute;
    right: 10px;
    color: var(--white);
    margin: 0 !important;
}

/* Tablets */
@import url('./styles/header-md.css') only screen and (min-width: 768px) and (max-width: 991px);
  
/* Smartphones */
@import url('./styles/header-sm.css') (max-width: 600px);