.text-image {
    color: var(--white);
    font-size: 6em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    width: 500px;
    text-align: left;
    margin-left: 10%;
    line-height: 1.2em;
    font-family: 'Oswald', sans-serif;
    margin-top: -30%;
}