@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --red: #ED1B24;
  --white: #fff;
  --black: #000;
  --black84: rgba(0, 0, 0, .84);
  --black74: rgba(0, 0, 0, .77);
  --light-grey: rgba(0, 0, 0, .16);
  --text-grey: #9b9b9b;
  --text-light-grey: #f2f2f2;
  --footer: #222222;
}

body {
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
}

.bg-image { 
  object-fit: cover;
  object-position: 90% 20%;

  height: 75vh;
  opacity: 0.5;
}

.text-image {
  color: white;
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  width: 500px;
  text-align: left;
  margin-left: 10%;
  line-height: 130px;
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 600px) 
{
  .bg-image {
    width: 100%;
  }

  .text-image {
    display: none;
  }
}